.home-container {
  /* centering all items to the midle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #00ff00;
  text-align: center;
}

/* Form styles */
form {
  margin-bottom: 30px;
  width: 100%;
  color: #00ff00;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
  max-width: 700px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #0f0;
  border-radius: 6px;
  font-size: 16px;
  background-color: #000;
  color: #0f0;
  margin: 20px auto;
}

input[type="submit"],
#download-all {
  width: 300px;
  background-color: #00ff00;
  color: #000;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

/* List styles */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0f0;
}

a {
  color: #0f0;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0f0;
}

button,
input[type="submit"] {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #00ff00;
  color: black;
}

button:hover,
input[type="submit"]:hover,
#download-all:hover {
  background-color: #20b340;
}
